.ele{
    text-align: center;color:goldenrod;
}

.ela{
    text-align: center;color: goldenrod;
}
.elw{
    text-align: center;color: goldenrod;
}
body{
    background-color: rgb(255, 255, 255);
}
.ely{
    width: 55px; ;
    height: 55px; ;
}
.elu{
    color: goldenrod;
}
.lle{
    text-align: center;color: goldenrod;
}
.lly{
    color: goldenrod;
}
.llu{
    color:goldenrod;
}
.llk{
    color: goldenrod;
}
.llh{
    color: goldenrod;
}